
node_modules
npm-debug.log
pnpm-lock.yaml
yarn.lock
playwright/.local-browsers


playwright-report
test-results
allure-results
allure-report
videos
traces
*.zip


.git
.gitignore
.idea
.vscode
.DS_Store


coverage
dist
build
.env
*.local
*.tsbuildinfo
